


.form-information{
    display: flex;
    flex-direction: column;
    height: 90%;
    border: solid thin gray;
    width: 100%;
    padding: 5%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #EEE9DA;



    
}

.text{
    background-color: #6096B4;
    border: solid thin #6096B4;
    text-align: center;
    justify-content: center;
    background: linear-gradient(to bottom, #6096B4 96.3%,#93BFCF);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    
}


.input > .label-input-form{
    display: flex;
    padding-bottom: 5px;

}

.input > .input-form{
    display: flex;
    padding-bottom: 5px;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    border: solid 1px gray;
    box-shadow: 3px 5px 2px rgba(0,0,0,.1);

    border-radius: 20px;
    

}
.form-information > .submit{
    display: flex;
    padding-bottom: 5px;
    width: 30%;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
    

}

.information{

    padding: 0;
    margin: 0;

    width: 400px;
    height: 520px;
    display: flex;
    margin-left: 2%;
    margin-top: 3%;
    flex-direction: column;
    box-shadow: 10px 7px 5px rgba(0, 0, 0, 0.1);
    
    


}

.information > .text{
    height: 15%;
    background-color: #6096B4;
    font-family: 'Oswald', sans-serif;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido{
    display: flex;

}
.input-checkbox{
    display: flex;
}
.input-checkbox > .checkbox {
    margin-right: 10px;
}


.submit-form{
    margin-top: 20px;
    border: solid #333;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    font-size: 1.1rem;

}
.submit-form:hover{
    margin-top: 20px;
    border: solid #6096B4;
    background-color: #6096B4;
    color: #fff;

}

/* contenido de la tabla*/
.table{
    width: 50%;
    margin-left: 1%;
    margin-right: 1%;

    margin-top: 3%;
    
}
.table > .text{

    display: flex;
    justify-content: space-between;
    padding: 1%;
    height: 11%;
    box-shadow: 10px 7px 5px rgba(0, 0, 0, 0.1);
}

.table > .table-information{
    text-align: center;
    border: solid thin gray;
    box-shadow: 10px 7px 5px rgba(0, 0, 0, 0.1);
    background-color: #EEE9DA;
    padding: 6px 4px;

    
}

.table > .table-information table, td, th{
    border: 1px solid #000000;
    border-collapse: collapse;
    margin-top: 20px;
}

.table > .table-information table{
    width: 100%;
}

.table > .table-information td, th{
    padding: 10px;
    text-align: left;
}

.acciones >.editar{
    width: 30%;
    border: solid rgb(255, 94, 0);
    background-color: rgb(255, 94, 0);
    color: #fff;
    border-radius: 5px;
    font-size: 1.1rem;
}
.acciones >.eliminar{
    width: 30%;
    border: solid rgb(255, 0, 0);
    background-color: rgb(255, 0, 0);
    color: #fff;
    border-radius: 5px;
    font-size: 1.1rem;
}

.text > .añadir{
    margin: 1px;
    width: 12%;

    border: solid #044d0ed8;
    background-color: #044d0ed8;
    color: #fff;
    border-radius: 5px;
    font-size: 1.1rem;
}
.text-buscar{
    margin-top: 5px;
    width: 90%;
    padding: 0;
    border: solid thin red;
}

/* estilos para el modal*/



.contenido{
    background-image: url(../src/img/pexels-johannes-plenio-1103970.jpg);
    background-size: cover; 
    background-position: center;
    
    width: 100%;
    margin-top: 5px;
    position: relative;



}
.glass-class{
    background-color: #fafafa10;
    backdrop-filter: blur(2.4rem);
    width: 100%;
    height: 100%;
    display: flex;



}


